$fontFamily: 'Roboto';
$text-color-btn: #1D1D1D;
$text-color-search: #626262;
$text-color-title-primary: #1D1D1D;
$text-color-subtitle: #1D1D1D;
$text-color-restaurant-text: #626262;
$text-color-timing: #1D1D1D;
$text-color-footer: #FFFFFF;
$color-line-search: rgb(117, 117, 117, 0.3);
$color-line-footer: rgb(151, 151, 151, 0.4);
$color-filling-footer: #262626;
$color-social: #FFFFFF;
$color-main-item-hover: #dedede;
$color-restaurant-item-hover: #D8D8D8;
$color-lang-menu: #3B3B3B;
$color-hashTag-grid: #49A144;
$color-text-price: #1D1D1D;